*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../img/helloThere.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}